.navbar {
	position: absolute;
}
.navbar img {
	height: 120px;
	position: absolute;
}

header, section#contact {
	background-image: url('../images/back-pattern.jpg');
	background-repeat: repeat;
	background-size: initial;
}

@media (min-width: 768px) {
	header .intro-text {
		padding-top: 100px;
		padding-bottom: 200px;
	}
}

#services p {
	text-align: left;
}
#rules p {
	text-align: left;
	padding-left: 10px;
}
#rules a {
	color: #aaa;
    font-weight: bold;
    text-decoration: underline;
}

.sticky {
	position: fixed;
	top: 10px;
}
#rules p.quote {
	padding-left: 50px;
}

.team-member img {
	border: 0;
}
.team-member a {
	color: #23527c;
}
.team-member img.copag {
	height: 150px;
}

footer {
	padding-bottom: 10px;
}
footer a.zebras img{
	height: 70px;
	margin-top: -15px;
}

/* MOBILE */
@media (max-width: 768px) {
	header {
		background-image: url('../images/back-pattern.jpg');
		background-repeat: repeat;
		background-size: initial;
	}
	header img {
		width: 100%;
	}
	header .intro-text {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	footer a.zebras img{
		margin-top: 10px;
	}
}

li {
	text-align: left;
}
